---
layout: default
---
<link rel="stylesheet" href="/assets/css/custom.css">

<div>
  {{ content }}
</div>

<div>
  <h2 style="margin-top:25px">Covers</h2>
  {% for page in site.pages %}
    {% if page.category == "books" %}
      <a href="{{ page.url }}">
      <img src="{{ page.cover_path }}" alt="{{ page.title }} cover" class="cover_mosaic">
      </a>
    {% endif %}
  {% endfor %}
</div>

<div>
  <h2 style="margin-top:25px">Titles</h2>
  <ul>
    {% for page in site.pages %}
      {% if page.category == "books" %}
        <li><a href="{{ page.url }}">{{ page.book_title }} ({{ page.book_published_date }})</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
