---
layout: default
---
<link rel="stylesheet" href="/assets/css/custom.css">

<div>
  {{ content }}
</div>

{% for category in site.categories %}
  {% if category[0] == page.category %}
    <div>
      <ul>
        {% for post in category[1] %}
        <a href="{{ post.url }}">
        <img src="{{ post.cover_path }}" alt="{{ post.title }} cover" class="cover_mosaic">
        </a>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endfor %}

{% for category in site.categories %}
  {% if category[0] == page.category %}
    <div>
      <h2>Titles</h2>
      <ul>
        {% for post in category[1] %}
          <li><a href="{{ post.url }}">{{ post.book_title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endfor %}
